body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #007bff;
    margin: 20px 0;
    font-size: 24px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}


form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

form h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 18px;
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin: 5px 0;
    text-align: left;
    width: 100%;
    max-width: 250px;
}

select, button {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: auto; 
}

button:hover {
    background-color: #0056b3;
}

.grafico{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}


#chartContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
}

#chartContainer h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 18px;
}

#chartImage {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}