<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Dashboards de Preços de Combustíveis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo aos Dashboards de Preços de Combustíveis</h1>
        <p>Para visualizar os dashboards com análises de preços de combustíveis, clique no botão abaixo.</p>
        <form action="/dashboard" method="get" target="_blank">
            <button type="submit">Ir para Dashboards</button>
        </form>
    </div>
</body>
</html>
